<p>Console Logger says <strong>{{info.title}}</strong></p>
<ul>
  <li>Location: [{{location}}]</li>
  <li>Value: {{info.value}}</li>
</ul>

{{#wu-button-group}}
  {{wu-button
    label="Voeg in"
    size="small"
    isNarrow=true
    onClick=(action "insert")
  }}
{{/wu-button-group}}
